<div class="sidenav" id="sidenav">
  <div class="form-group">
      <button type="button" class="btn btn-dark btn-lg btn-block" (click)="openSettingsModal()">Settings</button>
  </div>
  <ul class="list-group">
    <li class="list-group-item list-group-item-dark hover">
      <input
        type="checkbox"
        id="clickToggle"
        [checked]="clickToggle"
        (change)="toggleClicked($event)"
      /><label for="clickToggle">Toggle</label>
      Enable Clicking
    </li>
    <li class="list-group-item list-group-item-dark hover" *ngIf="clickList.length > 0">
      [
      <div *ngFor="let item of clickList;  let isLast=last">
          {{ '{' }} name: '{{ item.name }}', location: [ {{ item.location }} ] {{ '}' }}{{ isLast ? '' : ', ' }}
      </div>
      ]
    </li>
  </ul>
</div>
