<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <i class="fa fa-times"></i>
    </button>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item active">
                <a class="nav-link" href="#">Name & Location<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Weekly</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">LTM</a>
            </li>
        </ul>
    </div>
</nav>
<div class="modal-body">
    <app-name-location></app-name-location>

    <!-- <div class="form-group">
        <div class="row navbar navbar-dark bg-dark">
            <div class="col-md-3">
                Name & Location
            </div>
            <div class="col-md-3">
                Location
            </div>
            <div class="col-md-3">
                Weekly
            </div>
            <div class="col-md-3">
                LTM
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                testing
            </div>
            <div class="col-md-6">
                testing
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                testing
            </div>
            <div class="col-md-6">
                testing
            </div>
        </div>
    </div> -->
    <!-- <div class="form-group">
        <input class="form-control" value="{{body}}" [(ngModel)]="body" (keyup.enter)="close()" />
    </div> -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">
        <i class="fa fa-check-circle"></i>
        Confirm
    </button>
</div>