.navbar-dark {
  color: rgba(255, 255, 255, 0.829);
  background-color: #61425b !important;
  border-bottom: 1px solid #a16e98 !important;
}

.fa {
  color: rgba(255, 255, 255, 0.829);
}

// .modal-body {
//   padding-top: 0 !important;
// }

// .col-md-3 {
//     font-size: 20px;
//     border-right: 1px #a16e98 solid;
//     height: 100%;
// }
