.body {
  background-color: #412c3e;
  height: 97vh;
}

.body h1 {
  text-align: center;
  size: 40px;
  font-weight: bold;
	color: rgba(255, 255, 255, 0.829);
}

h1 span {
  color: rgba(252, 16, 220, 0.829);
}
